#login {
    margin-top: 135px;
}

#login .tableBox {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 80px;
}

.tableBox .regTable {
    width: 100%;
    height: 100px;
    padding: 0 388px;
    box-sizing: border-box;
}

#login .tableBox .regTable li {
    float: left;
    width: 50px;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
    color: #4c4c4c;
}

.tableBox .regTable .active {
    color: #0f0b00;
    font-weight: 600;
}

.tableBox .regTable i {
    display: block;
    float: left;
    width: 0;
    height: 22px;
    border-left: 1px solid #0f0b00;
    margin: 39px 110px 0;
}

#login .tableBox .tableContent {
    width: 1000px;
    height: 555px;
    border: 1px solid #c7c7c7;
    margin: 0 auto;
    text-align: left;
}

.tableContent .left,
.right,
.center {
    float: left;
    width: 498px;
    height: 100%;
    padding: 50px 60px 0;
    box-sizing: border-box;
}

#login .tableBox .tableContent {
    width: 1000px;
    height: 555px;
    border: 1px solid #c7c7c7;
    margin: 0 auto;
    text-align: left;
}

.tableContent .center {
    height: 200px;
    width: 0;
    border-left: 1px solid #e5e5e5;
    padding: 0;
    margin-top: 50px;
}

.tableBox .tableContent dl {
    height: 300px;
}

.tableContent dl dd:first-child {
    margin-top: 32px;
}

.tableBox .tableContent dl dd {
    margin-top: 20px;
    overflow: hidden;
}

.tableContent dl dd input {
    float: left;
    width: 378px;
    height: 44px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    text-indent: 12px;
}

.tableContent dl dd .commit {
    display: inline-block;
    width: 378px;
    height: 44px;
    color: #333333;
    font-size: 18px;
    margin-top: 12px;
}

.tableContent dl .loginBtn {
    display: block;
    width: 378px;
    height: 44px;
    background: #0f0b00;
    border: 0;
    margin-top: 50px;
    font-size: 18px;
    color: #ffffff;
}

.tableContent .login .right span {
    display: block;
    font-size: 18px;
}

.tableContent .login .right p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 34px;
}

.tableContent .login .right a {
    display: block;
    width: 292px;
    height: 43px;
    border: 1px solid #0f0b00;
    background: 0;
    font-size: 17px;
    line-height: 43px;
    margin-top: 40px;
    text-align: center;
}

#login .tableBox .tableContent .right span {
    display: block;
    font-size: 18px;
}

.tableContent .right p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 34px;
}

.tableContent .right a {
    display: block;
    width: 292px;
    height: 43px;
    border: 1px solid #0f0b00;
    background: 0;
    font-size: 17px;
    line-height: 43px;
    margin-top: 40px;
    text-align: center;
}